<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  >
  <title>Welcome to the Pixellab Builder</title>
</head>

<body>

  <header class="header">
    <% include html/header/header-nav.html %>
    <% include html/header/header-main.html %>
  </header>

  <main class="content container">
    <main class="content-main">
      <% include html/main/content-main.html %>
    </main>
  </main>

  <footer class="footer">
    <% include html/footer/footer-main.html %>
  </footer>

</body>

</html>
