// @import '~bootstrap/scss/bootstrap';

// fonts
$fa-font-path: '~@fortawesome/fontawesome-free/webfonts';
@import './../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import './../../node_modules/@fortawesome/fontawesome-free/scss/brands';
@import './../../node_modules/@fortawesome/fontawesome-free/scss/regular';
@import './../../node_modules/@fortawesome/fontawesome-free/scss/solid';

@import './../../node_modules/bootstrap/scss/bootstrap-reboot.scss';
@import './../../node_modules/bootstrap/scss/bootstrap-utilities.scss';
@import './../../node_modules/bootstrap/scss/bootstrap-grid.scss';

@import './fonts';

//
CSS RESET
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Playfair Display', 'Roboto', 'sans-serif';
}

// HEADER

@media (min-width: 991px) {
  .header {
    width: 100%;
    height: 500px;
    background: url('../images/banners/banner.png') center center;
    background-position: cover;
    position: relative;
    background-repeat: no-repeat;
  }

  .header-socials ul li {
    padding: 20px 10px;
  }

  .header-socials ul li a {
    text-decoration: none;
    color: #fff;
  }

  .header-contact ul li {
    padding: 20px 10px;
  }

  .header-contact ul li a {
    text-decoration: none;
    color: #fff;
  }

  .header-contact a span {
    text-transform: uppercase;
  }

  .header-search form {
    position: relative;
    border: 1px solid #cccccc;
  }
  .header-search form input {
    padding-left: 30px;
    left: 20%;
  }
  .header-search form button {
    position: absolute;
    top: 15%;
    left: 2%;
    background: transparent;
    border: none;
  }

  .header-controls ul li a {
    text-decoration: none;
    color: #333;
    padding: 10px;
  }

  .header-main {
    position: absolute;
    // left: 0;
    top: 90%;
    width: 100%;
    height: 10%;
    background-color: #2b2b2b;
  }

  .header-primary ul {
    height: inherit;
  }

  .header-primary ul li {
    padding: 15px;
  }

  .header-primary ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
  }

  .catalog-preview header {
    margin-top: 40px;
    margin-bottom: 60px;
  }

  .catalog-preview header h1 {
    text-align: center;
    text-transform: uppercase;
    border-top: 1px solid #cccccc;
    padding-top: 15px;
    font-size: 35px;
    font-weight: bold;
  }

  .product-tile {
    position: relative;
    width: 21%;
  }

  .product-tile-image-container img {
    width: 100%;
  }

  .product-tile-image i {
    position: absolute;
    top: 5%;
    left: 90%;
    color: #333;
    font-size: 20px;
  }

  .product-title {
    margin-top: 10px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
  }

  .product-price {
    margin-top: 10px;
    text-align: center;
  }

  .catalog-details {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
  }

  .catalog-details-history {
    width: 47%;
  }

  .catalog-details-img {
    width: 46%;
  }

  .catalog-details-img picture img {
    width: 100%;
  }

  .catalog-details-history h1 {
    text-align: center;
    font-size: 44px;
    margin-bottom: 40px;
  }

  .catalog-details-history p {
    text-align: justify;
    line-height: 30px;
  }

  .catalog-details-history p:nth-child(2) {
    margin-bottom: 20px;
  }

  .catalog-ctas {
    text-align: center;
    margin-top: 60px;
  }

  .catalog-ctas a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border: 1px solid black;
    font-weight: bold;
  }

  .catalog-preview-all header h1 {
    margin-top: 110px;
    margin-bottom: 23px;
    padding-top: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 35px;
    text-transform: uppercase;
    border-top: 1px solid #cccccc;
    font-weight: bold;
    color: #333;
  }

  .footer {
    margin-top: 100px;
    background-color: #e8e8e8;
    height: 230px;
    line-height: 25px;
    font-weight: 500;
  }

  .footer a {
    text-decoration: none;
    color: #333;
  }

  .footer-container {
    height: inherit;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }

  .footer-connect button {
    display: block;
    margin-top: 5px;
    padding: 0px 15px;
  }

  .footer-social ul {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
  }

  .footer-social ul li {
    padding-right: 10px;
  }
}

@media (max-width: 991px) {
  .user-controls {
    margin-bottom: 10px;
  }

  .user-controls h1 {
    text-transform: uppercase;
    font-size: 19px;
    font-weight: bold;
  }
  .user-controls ul {
    list-style-type: none;
  }

  .user-controls li {
    padding: 10px;
  }

  .user-controls li a {
    color: #333;
  }

  .user-controls li a i {
    font-size: 19px;
  }

  .header-search {
    height: 50px;
    background-color: #2b2b2b;
  }

  .header-search ul li i {
    color: #fff;
    font-size: 35px;
  }

  .header-search form {
    position: relative;
  }

  .header-search form input {
    background-color: transparent;
    border: 0.2px solid #606060;
    width: 225px;
    height: 30px;
  }

  .header-search form button {
    position: absolute;
    top: 8px;
    left: 195px;
    border: none;
    font-size: 12px;
    background-color: transparent;
    color: #606060;
  }

  .header-main {
    height: 177px;
    background-image: url('../images/banners/banner-small.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    margin-bottom: 27px;
  }

  .header-main button {
    position: absolute;
    top: 125px;
    left: 70%;
    padding: 3px 15px;
    background-color: #fff;
    font-weight: bold;
  }

  .header-main button a {
    text-decoration: none;
    text-transform: uppercase;
    color: #333;
    font-size: 12px;
  }

  .catalog-preview header h1 {
    font-size: 19px;
    text-align: center;
    border-top: 1px solid #cccccc;
    padding: 10px;
    font-weight: bold;
  }

  .product-tiles {
    // d-flex justify-content-around flex-wrap
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .product-tile-image-container {
    margin-bottom: 10px;
    position: relative;
    width: 148px;
    height: 148px;
  }
  .product-tile-image a img {
    width: 148px;
    height: 148px;
  }
  .product-tile-image a i {
    position: absolute;
    top: 5%;
    left: 80%;
    font-size: 25px;
    color: #333;
  }

  .product-tile-details {
    text-align: center;
    font-weight: bold;
  }

  .catalog-details {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    margin-bottom: 20px;
  }

  .catalog-details-history > h1 {
    font-weight: bold;
    font-size: 18px;
  }
  .catalog-details-history p {
    letter-spacing: 0.24px;
    line-height: 35px;
  }

  .catalog-ctas {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
  }

  .catalog-ctas a {
    padding: 5px 18px;
    text-decoration: none;
    border: 1px solid #2b2b2b;
    color: #333;
    font-weight: bold;
    font-size: 12px;
  }

  .footer-connect {
    background-color: #e8e8e8;
    text-align: center;
  }

  .footer-connect > h1 {
    padding: 25px 0px;
    font-size: 22px;
  }

  .footer-connect > p {
    font-size: 15px;
    margin-bottom: 10px;
  }

  .footer-connect form input {
    width: 261px;
    margin-bottom: 20px;
  }
  .footer-connect form button {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .policy a {
    text-decoration: none;
    color: #333;
  }

  .footer-social > h1 {
    font-size: 22px;
    font-weight: bold;
  }

  .footer-social ul {
    justify-content: center;
  }

  .footer-social ul i {
    color: #333;
    font-size: 25px;
    padding: 10px;
  }

  .footer-nav {
    background-color: #707070;
    text-align: center;
  }

  .footer-nav > h1 {
    text-align: center;
    padding: 33px 0px;
    color: #fff;
    font-size: 22px;
  }
  .footer-nav-info {
    margin-bottom: 25px;
  }

  .footer-nav-info ul a {
    color: #fff;
    text-decoration: none;
    line-height: 45px;
  }

  .footer-nav-info ul:first-child {
    border-left: 1px solid #fff;
    padding-left: 25px;
  }

  .terms-and-conditions {
    display: inline-block;
    padding-bottom: 50px;
  }

  .terms-and-conditions ul a {
    color: #fff;
    font-size: 14px;
    line-height: 25px;
    font-style: italic;
  }
}
